* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: 15 23 42;
  --tw-bg-opacity: 1;
}

body {
  background-color: rgb(var(--bg-color) / var(--tw-bg-opacity));
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  color: yellow;
  font-size: 1rem;
}

/* @media (min-width: 450px) and (max-width: 960px) {

} */

.wrapper {
  position: relative;
}

.wr-main {
  position: absolute;
  background: radial-gradient(
    600px at 0px 0px,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
  inset: 0;
}

.wr-content {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 6rem;
}

.wrc-left,
.wrc-right {
  padding: 6rem 0;
  width: 50%;
}

.wrc-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  overflow: hidden;

  h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }

  p {
    font-size: 1rem;
    opacity: 0.6;
    margin-top: 2rem;
    width: 85%;
    float: left;
  }
}

.wrc-left-nav {
  display: block;
  width: 100%;
  padding: 3rem 0;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    float: left;

    li {
      padding: 0.5rem 0;
      text-transform: uppercase;
      font-size: 14px;
      width: 100%;
    }
  }
}

.wrc-left-nav a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
  opacity: 0.6;
}

.wrc-left-nav a:hover,
.wrc-left-nav a.active {
  .nav-indicator {
    width: 64px;
  }
  .nav-text {
    color: limegreen;
  }
}

.wrc-left-nav .nav-indicator {
  display: block;
  height: 1px;
  margin-right: 1rem;
  cursor: pointer;
  width: 32px;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  transition: all 1s;
}

.wrc-left-nav .nav-text {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: all 1s;
}

.wrc-left-nav li.active {
  opacity: var(--tw-bg-opacity);
}

.wrc-right {
  position: relative;
  height: 150vh;
}

.wrc-right p:not(:first-of-type) {
  margin-top: 1rem;
}

.wrc-right p {
  font-size: 1rem;
  opacity: 0.6;
}
